*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #444;
}
.clockContainer{
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hour,#minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    height: 25%;
    width: 2%;
    left: 48.7%;
    top: 25%;
}
#minute{
    height: 30%;
    width: 1.5%;
    left: 48.7%;
    top: 20%;
}
#second{
    height: 38%;
    width: 1%;
    left: 48.7%;
    top: 12%;
}